.divOneText {
  color: #232323;
  text-align: center;
  margin-left: 13%;
  margin-right: 13%;
}

.divOneText2 {
  color: #232323;
  text-align: center;
  margin: 4% 8%;
}

.divOneSubHeader {
  color: #ededed !important;
  text-align: center;
  text-decoration: underline;
  margin-top: 2%;
}

.symphonyMathVideo {
  margin-top: 1%;
}

.symphonyMathHeader {
  color: #ededed !important;
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
}