.divOneText {
  color: #7dc70e;
  text-align: center;
  margin-left: 13%;
  margin-right: 13%;
}

.divOneText2 {
  color: #7dc70e;
  text-align: center;
  margin: 4% 8%;
}

.divOneSubHeader {
  color: #cdcdcd !important;
  text-align: center;
  text-decoration: underline;
  margin-top: 2%;
}

.symphonyMathVideo {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.symphonyMathHeader {
  margin-top: 0;
}