.symphonyMathLogo {
  height: 10.375rem;
  width: 28.125rem;
}

.readingPlusLogo {
  height: 10.4375rem;
  width: 25rem;
  margin-top: 1.875rem;
}

.redboxVRLogo {
  height: 11.5rem;
  width: 27.1875rem;
  margin-top: -0.1875rem;
}
