.divOneText2RedBox {
  color: #232323;
  text-align: center;
  margin: 0 14% 2%;
}

.redboxHeader {
  color: #ededed !important;
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
}

.redboxSubHeader {
  color: #ededed !important;
  text-align: center;
  text-decoration: underline;
}

.vrRowTwo {
  display: flex;
  justify-content: center;
}