.divOneText2RedBox {
  color: #7dc70e;
  text-align: center;
  margin: 0 14% 2%;
}

.divOneVR {
  display: flex;
  justify-content: center;
}

.redboxHeader {
  margin-top: 0;
}

.redboxSubHeader {
  color: #cdcdcd !important;
  text-align: center;
  text-decoration: underline;
}