.mainParagraph {
  text-align: center;
  color: #232323;
  margin: 0 auto;
  width: 75%;
}

.products {
  display: flex;
  justify-content: space-evenly;
}

.cardData {
  width: 18rem;
  min-height: 520px;
  /* background-color: #299cc4; */
  border: none;
}

.cardTitle {
  display: flex;
  justify-content: center;
}

.cardInfo {
  text-align: center;
}
