.mainTitle {
  text-align: center;
  margin-bottom: 0;
  background: -webkit-linear-gradient(#ededed, #007bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainSubTitle {
  text-align: center;
  color: #ededed;
  margin-top: 3.125rem;
}

hr {
  background-color: #7dc70e;
}
