.navControlStyle {
  right: 10;
  top: 10;
}

.mapboxgl-ctrl-group {
  display: inline !important;
}

.mapboxgl-ctrl-icon {
  border-radius: 0.625rem;
  background-color: tomato !important;
}

.markerIcon {
  color: blue;
  cursor: pointer;
}

.whereWeReach {
  background-color: #7dc70e !important;
}

.popupHeader {
  color: #232323;
  font-size: 1rem;
  text-decoration: underline;
  text-align: center;
}

.popupSubHeader {
  color: #232323;
  font-size: 0.75rem;
  text-align: center;
}

.mapboxgl-popup {
  max-width: 25rem;
  font: 0.75rem 1.25rem 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
  border-style: double;
  border-width: thick;
  border-radius: 10% !important;
  background: #ededed;
}

.mapboxgl-popup-close-button {
  display: contents;
}
