.navControlStyle {
  right: 10;
  top: 10;
}

.mapboxgl-ctrl-group {
  display: inline !important;
}

.mapboxgl-ctrl-icon {
  border-radius: 10px;
  background-color: tomato !important;
}

.markerIcon {
  color: blue;
  cursor: pointer;
}

.whereWeReach {
  background-color: #7dc70e !important;
}
