.aboutUsParagraph {
  text-align: center;
  color: hsl(84, 87%, 42%);
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.aboutUsHeader {
  color: #cdcdcd !important;
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
}