.aboutUsParagraph {
  text-align: center;
  color: #232323;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.aboutUsHeader {
  color: #ededed !important;
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
}