.aboutUsParagraph {
  text-align: center;
  color: #7dc70e;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-right: 28rem;
  margin-left: 28rem;
}

.aboutUsHeader {
  color: #cdcdcd !important;
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
}