.reading-plus-logo {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 0.5%;
}

.readingPlusVideo {
  margin-left: 25%;
  margin-top: 1%;
}

.howItWorksHeader {
  color: #cdcdcd !important;
  text-align: center;
  text-decoration: underline;
  margin-top: 0.5%;
}

.howItWorksParagraph {
  color: #7dc70e;
  text-align: center;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 0.5%;
}

.btnDiv {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
