.testimonialsTitle {
    color: #ededed !important;
    text-align: center;
    text-decoration: underline;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.testimonialsSubTitle {
    color: #ededed !important;
    text-align: center;
    text-decoration: underline;
    margin-top: 0.5%;
    margin-bottom: 2%;
}

.ReadingPlusParagraph{
    text-align: center;
    color: #232323;
    margin: 2% auto;
    width: 75%;
}

.testimonialPerson {
    text-align: center;
    text-decoration: underline;
    color: #ededed;
    margin: 2% auto;
    width: 75%;
    font-weight: bolder;
    font-size: 1.25rem;
}

.testimonial {
    background-color: #7dc70e !important;
}